{% extends 'base.html' %}

{% block title %}Viewing Event {{ event.title }}{% endblock %}

{% block content %}
    <h1>{{ event.title }}</h1>

    <section class="description">
        <p>{{ event.description|safe|linebreaksbr }}</p>
    </section>
    
    <section class="details">
        <h2>Event Details</h2>

        <h3><span class="mark">Date:</span></h3>

        <p>{{ event.date_of_event|date:"F j, Y @ f a" }}</p>
        
        {% if event.hosted_by %}
            <h3><span class="mark">Hosted By:</span></h3>
            <p>{{ event.hosted_by }}</p>
        {% endif %}
        
        {% if event.street_address %}
            <h3><span class="mark">Address:</span></h3>
            <p>
                {{ event.street_address }}<br>
                {{ event.city }}, {{ event.state }} {{ event.zip_code }}<br>
                {{ event.telephone }}
            </p>
            <!-- <iframe width="600"height="450"frameborder="0" style="border:0"src="https://www.google.com/maps/embed/v1/place ?key=AIzaSyDgkDwOUdlzo1BnEEBksW-4itrIZRKQveA&q={{ event.street_address }} {{ event.city }}, {{ event.state }} {{ event.zip_code }}&output=embed"></iframe> -->

            <!-- <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDgkDwOUdlzo1BnEEBksW-4itrIZRKQveA&q=Fisht+Olympic+Stadium,Sochi+Russia"></iframe> -->

            <iframe
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDgkDwOUdlzo1BnEEBksW-4itrIZRKQveA
    &q={{ event.street_address }} {{ event.city }}, {{ event.state }} {{ event.zip_code }}">
</iframe>
        {% endif %}
    </section>
    
    <section class="response">
        <h2>Will You Be Attending?</h2>

        {% if event.is_past %}
        <p>This event has already happened.</p>
        
        {% else %}

        {% if preexisting %}
        <p><span class="mark">
            We've already received your response. You can
            use the form below to update your RSVP.
        </span></p>
        {% endif %}
        <form method="post" action=".">
            <table>
                {{ form.as_p }}
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        {% if preexisting %}
                        <input type="submit" value="&#10003;  Update your RSVP">
                        {% else %}
                        <input type="submit" value="&#10003;  Send your RSVP">
                        {% endif %}
                    </td>
                </tr>
            </table>
            {% csrf_token %}
        </form>

        {% endif %}
    </section>
{% endblock %}